{{- if .Values.image.fluxAutomation.enabled -}}
{{- if $.Capabilities.APIVersions.Has "image.toolkit.fluxcd.io/v1" }}
apiVersion: image.toolkit.fluxcd.io/v1
{{- else }}
apiVersion: image.toolkit.fluxcd.io/v1beta2
{{- end }}
kind: ImageRepository
metadata:
  name: {{ include "platform-service.name" . }}
spec:
  image: "{{ include "platform-service.imageRepository" . }}"
  interval: {{ .Values.image.fluxAutomation.interval }}
{{- end }}
